fastapi
langchain
langchain-core
langchain-community
langchain-experimental
langchain-ollama
langchain-chroma
requests
beautifulsoup4
uvicorn
streamlit
chromadb
dotenv
selenium
tabulate
langgraph
pydantic
langsmith
pymupdf
numpy
matplotlib
scikit-learn
plotly
pandas